<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">The Business Partner that you need</h2>
                <hr class="light">
                <p class="text-faded">More than 3 years in national and international experience. I can support in any engineering and consulting fields </p>
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Get Started</a>
            </div>
        </div>
    </div>
</section>
